.panel{
    
    color: red;
    background-color: lightgrey;
   
  
}

.panel-heading{
    text-align:center
    
    
}

.player-roster{
 
 text-align: left;   
    
    
}

.player-form{
    
    color: blue;
    text-align: left;
    
} 

.player-card {
    
   display: inline-block;
   border: 1px solid black;
   text-align: left; 
    
}